.planos-lista{
  padding: 60px 0;
}

.planos-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.planos-lista li{
  flex: 1;
  min-width: 280px;
}

.planos-lista h2{
  margin-bottom: 20px;
}

.planos-lista a{
  display: block;
}

.planos-lista img{
  margin-bottom: 16px;
}

.planos-lista h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.planos-lista h3::before{
  content: '';
  background: var(--p1);
  height: 8px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
}

.planos-lista a:hover h3::before{
  width: 24px;
  transition: .2s;
}

.planos-lista li span{
  padding-left: 20px;
}

@media (max-width:800px){
  .planos-lista{
    padding: 40px 0 60px 0;
  }

  .planos-lista ul{
    gap: 20px;
  }
}